@use 'variables' as *;

/* =========================
   LAYOUT GLOBAL
   ========================= */

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  padding: 4rem 0;
}

.section__header {
  text-align: center;
  margin-bottom: 3rem;

h1, h2, h3, h4 {
  font-weight: 600;
  letter-spacing: -0.02em;
}


  p {
    color: gray;
  }
}
