@use 'variables' as *;

/* =========================
   RESPONSIVIDADE
   ========================= */

@media (max-width: 768px) {
  .hero__content h2 {
    font-size: 2rem;
  }
}



@media (max-width: 600px) {
  .contact__form {
    padding: 1.5rem;
  }
}


@media (max-width: 900px) {
  .hero__wrapper {
    grid-template-columns: 1fr;
  }

  .hero__carousel {
    height: 280px;
  }

  .hero__content h2 {
    font-size: 2.2rem;
  }
}


@media (max-width: 600px) {
  .carousel__btn {
    width: 36px;
    height: 36px;
    font-size: 1.3rem;
  }
}


@media (max-width: 900px) {
  .services__grid {
    grid-template-columns: 1fr;
  }
}

