@use 'variables' as *;

/* =========================
   IMPORTS
   ========================= */

/* =========================
   IMPORTS MODERNOS (SASS)
   ========================= */

@use 'variables';
@use 'reset';
@use 'layout';
@use 'components';
@use 'responsive';
@use 'footer';

